<!DOCTYPE html>



<!-- <form action="/ipfs" method="post">
  <div class="form-group">
      <label for="username">Reports:</label>
      <input type="text" class="form-control" id="report" placeholder="Enter report" name="Report">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->
<!-- <% %> -->

<!-- <script>
  
    form = document.getElementById("form");
    console.log("inside scripts")
    form.addEventListener("submit", dostuff())

    function dostuff() {
        console.log("function calling")
        text_file = document.getElementById("text").value
        console.log(text_file) 
};

</script> -->

<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Submit Report</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/Assets/logo.png">

  <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/LineIcons.3.0.css" />
  <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/animate.css" />
  <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/tiny-slider.css" />
  <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/glightbox.min.css" />
  <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/main.css" />
  <style type="text/css">
    @font-face {
      font-family: Roboto;
      src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
    }
  </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="">

  <div class="preloader" style="opacity: 0; display: none;">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>


  <header class="header navbar-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="nav-inner">



          </div>
        </div>
      </div>
    </div>
  </header>





  <div class="contact-us section">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12">
          <div class="contact-form">
            <h3 class="form-title">Send a Report</h3>



            <form class="form" method="post" action="/ipfs">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" id="report" placeholder="Enter report" name="Report"></textarea>
                    <!-- <textarea placeholder="Message*" name="message" id="message-area" class="form-control" id="report" name="report"></textarea> -->
                  </div>
                </div>
                <div class="col-12">

                </div>
              </div>
              <div class="button">
                <button type="submit" class="btn btn-default">Send Report</button>
                <!-- <button type="submit" class="btn btn-default">Submit</button> -->
              </div>           
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="map-section">
    <div class="container">
      <div class="row">





      </div>
    </div>
  </div>







  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/tiny-slider.js"></script>
  <script src="assets/js/glightbox.min.js"></script>
  <script src="assets/js/count-up.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>